transformers>=4.30,<5
transformers[sentencepiece]>=4.30,<5
datasets
sacrebleu
rouge_score
evaluate
py7zr
pandas
nltk
tqdm
PyYaml
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2