transformers==4.57.6
transformers[sentencepiece]==4.57.6
datasets==5.0.0
sacrebleu
rouge_score
evaluate==0.4.6
bert_score>=0.3.13
tabulate>=0.9
accelerate>=0.26
py7zr
pandas
nltk
tqdm
PyYaml
matplotlib
torch==2.12.1
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2